<h1>Listado de productos</h1>

<div class="products-container">
    {{#each products}}
        <div class="product-card">
            <h2>{{this.title}}</h2>
            <p>Precio: ${{this.price}}</p>
            <p>Categoría: {{this.category}}</p>
            <form action="/api/carts/68c4f065c13f345fdc932064/product/{{this._id}}" method="POST">
                <button type="submit">🛒 Comprar</button>
            </form>
        </div>
    {{/each}}
</div>

<hr>
    <div>
        <p>Página {{page}} de {{totalPages}}</p>
    </div>
<hr>

<!-- Controles de paginación -->
<div>
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">⬅ Página {{prevPage}}</a>
    {{/if}}
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Pág. Ant.</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Pág. Sig.</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Página {{nextPage}} ➡</a>
    {{/if}}
</div>

<a href="/products?page={{totalPages}}">Últ. Pág.</a>